- flashes = {:notice => 'success', :alert => 'standard', :error => 'alert', :secondary => 'secondary'}
- flashes.each do |key, value|
  - if flash[key]
    .alert-box.callout.text-center{:class => value, :data => { :closable => ''} }
      = flash[key]
      %button.close-button{type: 'button', data: {'close': ''}} &times;
