.row
  %div.small-12.columns
    %h1 Create your team!
.row
  .div.small-12.columns
    = form_for [@team], html: {'data-abide': ''} do |f|
      = render partial: 'form', locals: {:f => f, form_type: :create}
      %div.row
        %div.small-12.columns
          = f.submit 'Create Team', class: 'button success expanded'
