.report-card {
  h2 {
    font-size: rem-calc(21);
  }
  .date {
    font-size: rem-calc(11);
    color: #888;
  }
  .experience {
    display: inline-block;
  }
}


#reportModal {
  width: 100% !important;

  @include breakpoint(medium) {
    width: 50% !important;
  }

  @include breakpoint(large) {
    width: 30% !important;
  }
}
